.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    margin-right: 20px;
  }
}
.header-main__left-side {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-main__item-list {
  display: flex;
  gap: 30px;
}
.burger-menu {
  display: none;
}
.header-main__right-side {
  display: flex;
  gap: 30px;
  align-items: center;
}
.header-main span {
  cursor: pointer;
  color: #999;
  font-weight: 500;
  &:hover,
  &:active {
    color: #000;
  }
}
.header-main__link-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .hero {
    position: relative;
  }

  .burger-menu {
    display: flex;
  }
  .header-main__link-wrapper {
    position: absolute;
    width: 200px;
    padding: 20px;
    right: 0;
    background-color: #ececec;
    flex-direction: column;
    align-items: start;
    z-index: 999;
    top: 80px;
    font-size: 20px;
    display: none;
    .header-main__left-side {
      text-align: start;
      margin-bottom: 30px;
      .header-main__item-list {
        flex-direction: column;
      }
    }
    .header-main__right-side {
      align-items: start;
      flex-direction: column;
      width: 100%;
      div {
        width: 100%;
      }
      div .btn {
        width: 100%;
      }
    }
  }
  .burger-menu-visible {
    display: flex;
  }
}
