.header-main {
  display: flex;
  justify-content: space-between;
}
.header-main__left-side {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-main__item-list {
  display: flex;
  gap: 30px;
}

.header-main__right-side {
  display: flex;
  gap: 30px;
  align-items: center;
}
.header-main span {
  cursor: pointer;
  color: #999;
  font-weight: 500;
  &:hover,
  &:active {
    color: #000;
  }
}
