.hero {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 30px;
  padding-right: 0;
}
.hero__header {
  font-weight: 800;
  font-size: 65px;
  color: #1c1d29;
}
.hero__more-info {
  margin: 20px 0px;
  color: #afafaf;
  font-weight: 500;
  font-size: 18px;
}
.hero__button-wrapper button {
  font-size: 18px;
  padding-right: 40px;
  padding-left: 40px;
}
.hero__image {
  width: 100%;
  display: flex;
  justify-content: end;
}

@media (max-width: 1300px) {
  .hero__header {
    font-size: 50px;
  }
  .hero__more-info {
    font-size: 16px;
  }
}
@media (max-width: 1200px) {
  .hero__image img {
    width: 550px;
    height: 450px;
  }
}
@media (max-width: 1000px) {
  .hero__image img {
    width: 450px;
    height: 350px;
  }
}
@media (max-width: 1000px) {
  .hero__header {
    font-size: 40px;
  }
}
@media (max-width: 800px) {
  .hero {
    display: flex;
    flex-direction: column-reverse;
    padding-right: 30px;
    margin-top: 30px;
  }
  .hero__image {
    justify-content: center;
  }
  .hero__image img {
    width: 100%;
    height: 100%;
  }
  .hero__content {
    text-align: center;
  }
}
