.footer {
  display: flex;
  justify-content: space-between;
  background-color: hsl(260, 8%, 14%);
  padding-top: 60px;
}
.footer_company-logo {
  filter: brightness(1000%);
}
.footer_links-side {
  display: flex;
}
.footer_links {
  display: flex;
  gap: 40px;
  img {
    cursor: pointer;
  }
}
.footer-links__social-icons {
  display: flex;
  gap: 20px;
}
.footer-links__sections {
  margin-right: 60px;
  h4 {
    margin-bottom: 20px;
    color: #fff;
    font-weight: 600;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  ul a {
    color: #b3b3b3;
    text-decoration: none;
    &:hover,
    &:active {
      color: hsl(180, 54%, 75%);
    }
  }
}
@media (max-width: 1300px) {
  .footer_links {
    gap: 20px;
  }
  .footer-links__sections {
    margin-right: 30px;
  }
}

@media (max-width: 900px) {
  .footer_links {
    gap: 10px;
  }
  .footer-links__sections {
    margin-right: 15px;
  }
  .footer-links__social-icons {
    flex-direction: column;
  }
}
// 580
@media (max-width: 580px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .footer_links {
    text-align: center;
    align-items: center;
    flex-direction: column;
    .footer-links__sections {
      margin-top: 20px;
    }
  }
  .footer-links__social-icons {
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 40px;
  }
}
