.input-field {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../public/bg-shorten-desktop.svg");
  background-color: hsl(257, 27%, 26%);
  height: 120px;
  padding-right: 70px;
  padding-left: 70px;
  margin-top: 70px;
  border-radius: 8px;
  // gap: 30px;
}
.wrapper {
  width: 100%;
  display: flex;
  gap: 20px;
}
.wrapper input {
  width: 100%;
  font-family: inherit;
  font-size: 19px;
  padding-left: 20px;
  border-radius: 8px;
  border: none;
  &:focus {
    outline: none;
  }
}
.wrapper button {
  border-radius: 8px;
  width: 150px;
  padding: 15px 11px;
  font-size: 18px;
}
