.input-field {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../public/bg-shorten-desktop.svg");
  background-color: hsl(257, 27%, 26%);
  height: 120px;
  padding-right: 70px;
  padding-left: 70px;
  margin-top: 70px;
  border-radius: 8px;
  // gap: 30px;
}
.wrapper {
  width: 100%;
  display: flex;
  gap: 20px;
}
.wrapper input {
  width: 100%;
  font-family: inherit;
  font-size: 19px;
  padding-left: 20px;
  border-radius: 8px;
  border: none;
  &:focus {
    outline: none;
  }
}
.wrapper button {
  border-radius: 8px;
  width: 150px;
  padding: 15px 11px;
  font-size: 18px;
}
.short-link {
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(28, 26, 43, 0.219);
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.short-link__copy-side {
  display: flex;
  align-items: center;
  gap: 20px;
  .short-url {
    color: hsl(214, 100%, 50%);
    font-weight: 600;
  }
}
